<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.platform.mapper.pub.AuthMapper">
	<!-- <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" /> -->

	<select id="queryAllUrlForList" resultType="com.alibaba.fastjson.JSONObject">
		SELECT t1.name,concat(t1.channel,'/',t2.`op`,'.shtml') `key`,concat(t1.param,':',t2.op) param  FROM t_sys_menu t1 JOIN t_sys_operate t2 ON t1.id = t2.menu;
	</select>
	
	<select id="queryPermissionForList" resultType="java.lang.String" parameterType="java.lang.Long">
		SELECT concat(t3.param,':',t1.op)param FROM t_sys_operate t1 JOIN t_sys_role_operate t2 ON t1.id = t2.op_id 
		<if test="userId != null and userId != 0">
			AND t2.role = #{userId}
		</if>
		JOIN t_sys_menu t3 ON t1.menu = t3.id 
	</select>


	<select id="getParentMenu" parameterType="String"
		resultType="com.alibaba.fastjson.JSONObject">
		select * from t_sys_menu a
		<where>
			a.state = 1
			<if test="menuid != null and menuid != ''">
				and a.pid = #{menuid}
			</if>
			<if test="menuid == null or menuid == ''">
				and a.pid is null
			</if>
		</where>
		order by a.ordno
	</select>


	<select id="getChildMenuInPermission" parameterType="java.lang.Integer"
		resultType="com.alibaba.fastjson.JSONObject" useCache="false">
		SELECT t1.id,t1.name,t1.img,t1.pid,t1.ordno FROM t_sys_menu t1 JOIN (
		SELECT menu FROM t_sys_role_operate t1 JOIN t_sys_operate t2
		ON t1.op_id = t2.id AND t1.role = #{role} AND t2.isshow = 1 GROUP BY menu
		) t2 ON t1.id = t2.menu AND t1.state = 1 
		UNION ALL 
		SELECT t1.id,t1.name,t1.img,t1.pid,t1.ordno FROM t_sys_menu t1 WHERE t1.state = 1 AND t1.pid IS NULL  ORDER BY ordno
	</select>


	<select id="checkPermission" parameterType="com.alibaba.fastjson.JSONObject"
		resultType="com.battcn.platform.entity.pub.OperateEntity" useCache="false">
		select a.* from t_sys_operate a left join t_sys_role_operate b on
		(a.menu = b.menu and a.op = b.op) left join t_sys_role d on (b.role =
		d.id) left join t_sys_manager f
		on (d.id = f.role) where a.menu =
		#{menu} and f.managerid =#{managerid}
		<if test="op != null and op != ''">
			and a.op = #{op}
		</if>
	</select>

	<select id="getOperatesInPermissionByMenu" parameterType="com.alibaba.fastjson.JSONObject"
		resultType="com.battcn.platform.entity.pub.OperateEntity" useCache="false">
		select a.* from t_sys_operate a left join t_sys_role_operate b on
		(a.menu = b.menu and a.op = b.op) left join t_sys_role d on (b.role =
		d.id) left join t_sys_manager f
		on (d.id = f.role) where a.menu =
		#{menu} and f.managerid =#{managerid}
	</select>
	
	
	<select id="queryOperateForList" resultType="com.battcn.platform.entity.pub.OperateEntity" parameterType="com.alibaba.fastjson.JSONObject">
		SELECT t2.* FROM t_sys_role_operate t1 JOIN t_sys_operate t2
		ON t1.op_id = t2.id AND t1.role = #{role} AND t2.menu = #{menu}
	</select>
	
	
</mapper>