<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.platform.mapper.pub.MenuMapper">
	
	<select id="findMenuByPrimaryKey" resultType="com.battcn.platform.entity.pub.MenuEntity" parameterType="java.lang.Integer">
		select * from t_sys_menu where id = #{id}
	</select>
	<delete id="deleteMenu" parameterType="java.lang.Integer">
		delete from t_sys_menu where id = #{id}
	</delete>
	
	 <select id="listMenuByscort" resultType="com.battcn.platform.entity.pub.MenuEntity">
         select * from t_sys_menu t order by t.scort
	 </select>
	
	<select id="treeNode">
		call showTreeNodes_menu();
	</select>
</mapper>