<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.platform.mapper.pub.ManagerMapper">
	<!-- <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" /> -->

	<select id="queryManagerForList" resultType="com.alibaba.fastjson.JSONObject">
		 select t.managerid as id ,t.name ,t.account ,DATE_FORMAT(t.lastlogintime,'%Y-%m-%d %H:%i') as time,
		 (select a.name from t_sys_role a where a.id = t.role ) as rolename ,
		 (select a.code from t_sys_role a where a.id = t.role ) as rolecode , t.locked
		 from t_sys_manager t  WHERE 1 = 1 
		 <if test="name != null and name != ''">
		 	AND t.name = #{name}
		 </if>
	</select>
	<update id="update" parameterType="com.battcn.platform.entity.pub.ManagerEntity">
			update t_sys_manager set lastloginip = #{lastloginip} ,lastlogintime = #{lastlogintime} 
			where managerid = #{managerid}
	</update>
	
	
</mapper>