<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.platform.mapper.pub.RoleMapper">

	<select id="listRoleByscort" resultType="com.alibaba.fastjson.JSONObject">
		 select * from t_sys_role order by id 
	</select>
	
	 <select id="getRoleOperate" resultType="com.alibaba.fastjson.JSONObject">
	  	select t1.*,t2.op,t2.menu from t_sys_role_operate t1 JOIN t_sys_operate t2 ON t1.op_id = t2.id  where t1.role = #{role} 
	 </select>
	 
	 <delete id="deleteOperateByRole" parameterType="Integer">
	 	 delete from  t_sys_role_operate where role = #{role}
	  </delete>
	  
</mapper>